.main-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem; 
    font-family: 'Exo 2', sans-serif;  
    color: white; 
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    letter-spacing: 5px;
    text-shadow: 4px 4px 2px rgb(255, 0, 89);
}


.main-intro-name {
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: 8px;
    text-shadow: 4px 4px 2px #6f00ff;
}

.sub-text {
    font-size: 1.2rem;
    font-weight: 600;
}

.main-intro-sub-text {
    font-weight: 800;
    letter-spacing: 12px;
    margin-top: 2rem;
    color: rgb(102, 102, 102);
    /* text-transform: uppercase; */
}

.main-intro-sub-text span {
    color: rgb(255, 0, 89);
}