.main-container {
    display: flex;
    flex-direction: column;
    padding: 2rem 6rem;    
}

h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}


.main-intro-name {
    font-size: 4rem;
    font-weight: 600;
}

.sub-text {
    font-size: 1.25rem;
    font-weight: 600;
}

.main-intro-sub-text {
    margin-top: 2rem;
}