.home-container {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.home-content-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.colored-strip {
    height: 100vh;
    width: 6rem;
    background-color: #7000FF;
}